<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize\css\materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="materialize\css\materialize.min.css"  media="screen,projection"/>
<title>Cadastro Pessoa</title>
</head>
	<body>
	
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cadastro de pessoa</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  
  </br>
	
    <form action="salvarpessoa" method="post">
    	<label>Nome</label>
    	<input name="nome"/>
    	</br>
    	<label>Sobrenome</label>
    	<input name="sobrenome"/>
    	</br>
    	<label>Idade</label>
    	<input name="idade"/>
    	<input type="submit" value="Salvar"/>
    	<a class="waves-effect waves-light btn">Salvar 02</a>
    </form>
    
    <a href="/listapessoas">Listar</a>
    
    <table class="striped">
    	<thead>
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Idade</th>
          </tr>
        </thead>
    	<tr th:each = "pessoa : ${pessoas}">
    		<td th:text = "${pessoa.id}"></td>
    		<td th:text = "${pessoa.nome}"></td>
    		<td th:text = "${pessoa.sobrenome}"></td>
    		<td th:text = "${pessoa.idade}"></td>
    	</tr>
    </table>
    
    <!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize\js\materialize.js"></script>
	<script type="text/javascript" src="materialize\js\materialize.min.js"></script>
    </body>
</html>